.gradientBackground {
  position: relative;
  width: 100%;
  height: 100vh; /* full screen */
  overflow: hidden;

  /* background image */
  background-image: url('/ios18bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Make canvas fill parent */
.gradientBackground canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
