.cardBorder {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-size: 400% 400%;
  padding: 3px;
  border-radius: 1rem;


  --x: 0%;
  --y: 50%;
  background-position: var(--x) var(--y);
}

.innerCard {
  border-radius: 1rem;
  background: black;
  padding: 2rem;
  width: 400px;
  height: 200px;

  box-shadow: inset 0 0 15px rgba(0, 255, 255, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}
